<%= form_for(device) do |f| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui form">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label 'Poll frequency (minutes)' %>
      <%= f.text_field :poll_freq %>
    </div>

    <div class="field">
      <div class="ui checkbox">
        <%= f.check_box :enabled %>
        <%= f.label 'Tracking enabled' %>
      </div>
    </div>

    <div class="field">
      <div class="ui checkbox">
        <%= f.check_box :realtime%>
        <%= f.label 'Realtime tracking' %>
      </div>
    </div>

    <div class="field">
      <div class="ui checkbox">
        <%= f.check_box :history %>
        <%= f.label 'Show history' %>
      </div>
    </div>

    <div class="actions">
      <%= button_tag(class: "ui button") do %>
        <i class="send icon"></i> Submit
      <%end%>
    </div>
  </div>
<% end %>
