<%= javascript_tag do %>
  Application.selectedDevice = undefined;
<%end%>

<div class="ui main text container">

  <div class="ui success hidden message">
    <div class="content">
      <p id="notice"><%= notice %></p>
    </div>
  </div>

  <h1 class="ui header">Tracked Devices</h1>
  <p>This is a list of all the current devices being tracked by the system.</p>

  <table class="ui celled striped table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @devices.each do |device| %>
        <tr>
          <td><i class="male icon"></i> <%= device.name %></td>
          <td><%= device.description %></td>
          <td><i class="zoom icon"></i> <%= link_to 'Track', device  %></td>
          <td><i class="configure icon"></i> <%= link_to 'Edit', edit_device_path(device) %></td>
          <td><i class="red remove icon"></i> <%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <i class="add icon"></i> <%= link_to 'New Device', new_device_path %>
</div>
